<h1>Portfolio Items</h1>

<%= link_to "Create New Portfolio", new_portfolio_path %>

<% @portfolio_items.each do |portfolio| %>
  <p><%= portfolio.title %></p>
  <p><%= portfolio.subtitle %></p>
  <p><%= portfolio.body %></p>
  <%= image_tag portfolio.thumb_image if portfolio.thumb_image %>
  <%= link_to "Edit Portfolio #{portfolio.title}", edit_portfolio_path(portfolio) %>
<% end %>
